body {
	height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

#out {
	position: absolute;
	height: 15%;
	width: 32%;
	text-align: center; 
	top: -0.1%; 
	right: 34%; 
	background: rgba(0, 0, 0, 0.2);
	margin: 0px;
	padding: 15px;
	border-radius: 0px 0px 80px 80px;
	box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.2);
	transition: top 10s ease-out 0.5s;
}

#Pop-UpWindow {
	width: 30%;
	height: 30%;
	background-color: rgba(100, 100, 100, 0.9);
	position: fixed;
	left: 32%;
	top: 32%;
	border: 5px solid rgba(80, 80, 80, 0.95);
	border-radius: 20px 20px 20px 20px;
	visibility: hidden;
}
#HeadPop-Up {
	padding: 5% 0% 0% 0%;
	width: 100%;
	height: 11%;
	text-align: center;
	vertical-align: middle;
	font: bold 160% serif;
}
#BodyPop-Up {
	padding: 2% 5% 0% 5%;
	width: 90%;
	height: 58%;
	text-align: center;
}
.prize {
	display: inline-block;
	width: 75px;
	height: 65px;
	padding: 5px;
	margin: 1%;
	vertical-align: top;
	text-align: left;
}
#FootPop-Up {
	width: 100%;
	height: 7.5%;
	text-align: center;
	padding: 3.5% 0%;
}

#expMotherID {
	background: url(img/bandExperienceFon.png) no-repeat;
	position: relative;
	width: 600px;
	height: 25px;
	border: 3px outset gold;	
	border-radius: 10px 10px 10px 10px;
}
#expID {
	position: absolute;
	top: 0px;
	left: 10px;
	color: black;
	font: bold 100% serif;
	font-size: 120%;
}
#expBarID {
	background: url(img/bandExperience.jpg) no-repeat;
	height: 100%;
	width: 0%;
	border-radius: 10px 20px 20px 10px;
	border-right: 3px solid greenyellow;
}

.FRBaitClass {
	transition: top 10s ease-out 0.5s;
}

/*Кошелёк*/
#wallet {
	position: fixed; 
	margin: 0px; 
	top: 0px; 
	right: 0%; 
	height: 90px; 
	width: 320px; 
	background: url(img/wallet.png);
}
.piece{
	width: 0px;
	height: 0px;
	text-align: left;
	color: #969696; 
	font: bold 100% serif;
	display: inline-block;
	padding: 0px;
	vertical-align: top;
}
.money{
	color: #FFBB00; 
}
.price {
	width: 0px;
	height: 0px;
	position: relative;
	left: 55px;
	text-align: center;
	font: bold 110% serif;
	display: inline-block;
	vertical-align: top;
}
.name {
	height: 0px;
	width: 0px;
	margin: 25px 3px 0px 0px;
	font: bold 100% serif;
	color: white;
	text-align: center;
	vertical-align:bottom;
}
.FRBaitIconClass{
	height: 65px;
	width: 65px;
	position: relative;
	display: inline-block;
	padding: 5px 10px;
}
.FRBaitDescriptClass{
	height: 71px;
	width: 185px;
	position: relative;
	display: inline-block;
	padding: 2px 5px;
	vertical-align: top;
}
.fishChance{
	height: 50px;
	width: 185px;
	font: bold 84% serif;
	vertical-align: top;
}
.btnBait{

}
.inline-block{
	display: inline-block;
}
#moneyID {
	text-align: right; 
	font: bold 180% serif; 
	margin-right: 15px;
	margin-top: 25px;
}
.hintClass {
	font: bold 110% serif;
	height: 15%;
	width: 100%;
	text-align: center;
	font-size: 22px;	
}

#FRBaitID {
	position: absolute;
	margin: 0px; 
	padding: 9px;
	top: 180px; 
	right: 0%; 
	height: 600px; 
	width: 300px; 
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.2);
	border-radius: 50px 0px 0px 50px;
}
.FRBaitClass {
	margin: 9px;
	height: 75px; 
	width: 280px; 
	background: rgba(100, 100, 100, 0.8);
	box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.2);
	border-radius: 20px 20px 20px 20px;
}

/*Рюкзак*/
#fishPack {
	height: 205px;
	width: 501px;
	background: url("img/fishPackFon.png");
	padding: 35px 36px 20px 24px;
	margin: 0px;
	position: fixed;
	bottom: 0px;
	left: 0px;
}
#packMiniBtn{
	position: absolute;
	right: 20px;
	top: 20px;
}
#FRBaitMiniBtn{
	position: absolute;
	height: 30px;
	width: 30px;
	left: -15px;
	top: 300px;
	font-size: 140%;
	background: rgba(100, 100, 100, 0.8);
}
#FPButtons {
	text-align: center;
	margin-top: 5px;
}
.FPCell {
	height: 55px;
	width: 75px;
	background: rgba(0, 0, 0, 0.4);
	/*background: url("cellFon.png");*/
	border: 0px solid black;
	display: inline-block;
	margin: 4px 4px;
}
.FPCellBlock {
	height: 55px;
	width: 75px;
	background: rgba(0, 0, 0, 0.4);
	/*background: url("cellFon.png");*/
	border: 0px solid black;
	display: inline-block;
	margin: 4px 4px;
}


/*Заказы*/
#ordersID2 {
	height: 572px;
	width: 210px;
	position: absolute;
	left: 0px;
	top: 110px;
}
#orderHeadID {
	font: bold 110% serif;
	text-align: center;
	color: white;
}

.ordersCell {
	height: 100px;
	width: 95px;
	background: url("img/order1.png");
	display: inline-block;
	margin: 4px 4px;
}

.ordersCellTime {
	font: bold 100% serif;
	height: 15px;
	width: 30px;
	color: black;
	margin: 6px 0px 0px 57px;
}

.ordersCellText {
	font: bold 90% serif;
	height: 16px;
	width: 71px;
	vertical-align: bottom;
	margin: 30px 0px 0px 7px;
}

.orderButton {
	font: bold 80% serif;
	background: black;
	height: 19px;
	width: 42px;
	margin: 9px 0px 0px 45px;
}
#orderUpID {
	font: bold 80% serif;
	height: 20px;
	width: 120px;
	margin: 6px 0px 0px 40px;
}

#fishingRodStyle {
	height: 190px; 
	width: 340px;
	position: fixed;
	bottom:0px;
	left: 40%;
	text-align: center;
}

.GUI-btn {
	background: rgba(20, 20, 20, 0.5);
	color: white;
	border: black solid 1px;
	border-radius: 10px;
	font: bold 100% serif;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
	transition: 0.3s;
}.GUI-btn:hover {
	background: rgba(20, 20, 20, 0.7);
	transition: 0.1s;
}.GUI-btn:active {
	box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.7);
}.GUI-btn:disabled {
	background: rgba(120, 120, 120, 0.5);
	box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.7);
	color: #444;
}

#fishingRodID {
	height: 110px; 
	width: 130px; 
	border: black solid 1px;
	border-radius: 55px;
	margin: -20px 210px 0px 0px;
}
.packBaitBtn {
	height: 20px;
	width: 25px;
	margin: -5px 0px 0px 52px;
	position: absolute;
	text-align: center;
	background: rgba(20, 20, 20, 0);
	border: black solid 0px;
	border-radius: 10px;
}.packBaitBtn:hover {
	background: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 0px 3px 1px rgba(255, 255, 255, 0.9);
	transition: 0.1s;
}
#fishingRodHintID {
	height: 20px;
	width: 20px;
	margin: 0px 0px 0px 110px;
}
#fishingRodPropertyID {
	position: absolute;
	top: -60px;
	left: 140px;
	text-align: left;
	border: black solid 2px;
	padding: 10px;
}
#fishingRodFixedID {
	height: 25px;
	width: 75px;
	display: inline-block;
	margin: 0px 0px 0px 0px;
}
#fishingRodLevelUpID {
	height: 25px;
	width: 75px;
	display: inline-block;
	margin: 0px 0px 0px 0px;
}
#baitID {
	height: 25px; 
	width: 95px; 
	margin-top: 0px;
}